body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3EB489;
    color: white;
    padding: .5em;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Sen', sans-serif;
    margin: .5em 0;
}

input {
    padding: .5em;
    font-family: 'Sen', sans-serif;
}

header {
    display: flex;
    height: 15vh;
    justify-content: center;
    margin: auto;
}

main {
    height: 70vh;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#main-display{
    display: flex;
}

#game-controls {
    border-radius: 2em;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 2em;
    width: 40vw;
}

.avatar{
    border-radius: 2em;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 1em;
}

img {
    width: 20em;
}



footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35374d
}